<div class="top-bar">
  <h1>New Restaurant</h1>
</div>
<div class="table">
  <%= form_for ([:admin, @restaurant]), :html => {:multipart => true } do |res| %>
    name : <%= res.text_field :resname %> <br />
    phone : <%= res.text_field :phone %> <br />
    info : <%= res.text_area :resinfo %> <br />
    type : 
    <select name="restaurant[restype]">
      <option value="중식">중식</option>
      <option value="도시락">도시락</option>
      <option value="치킨">치킨</option>
      <option value="피자">피자</option>
      <option value="기타">기타</option>
      <option value="한식">한식</option>
    </select>
    <br />
    iamge :
    <%= res.file_field :avatar %>
    <%= submit_tag("submit") %>
  <% end %>
</div>
