<div class="top-bar">
  <h1><%= @restaurant.resname %></h1>
  <%= image_tag(@restaurant.avatar.url, :size => "50x50") %>
</div>
<%= link_to image_tag("admin/add-icon.gif", :border => 0, :id => "add_menu"), new_admin_menu_path(:id => @restaurant.id ) %>
<div class="table">
  <table class="listing" cellpadding="0" cellspacing="0">
    <tr>
      <th style="width:40px;">Num</th>
      <th>Name</th>
      <th>Price</th>
      <th>liking</th>
      <th>disliking</th>
      <th>setmenu</th>
      <th>tool</th>
    </tr>
    <% @menus.each do |menu| %>
    <tr>
      <td><%= menu.id %></td>
      <td><%= menu.menuname %> </td>
      <td><%= menu.price %></td>
      <td><%= menu.liking %></td>
      <td><%= menu.disliking %></td>
      <td><%= menu.setmenu %></td>
      <td>
        <%= button_to "del", admin_menu_path(:id => menu.id), {:method => :delete} %>
        <%= link_to image_tag("admin/edit-icon.gif", :border => 0), edit_admin_menu_path(:id => menu.id) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
