        <p id="title">Evaluate - <%= @restaurant.resname %></p>
    
    <%= form_for(@evaluation, :url => {:action => "create_ev", :res_id => params[:res_id]}) do |evaluation| %>
    
        <table class="ev_table">
            <tr>
                <td class="ev_table_name" colspan="2">taste</td>
            </tr>
            <tr>
                <td><div id="taste_slide"></div></td>
                <td class="ev_table_point"><%= evaluation.text_field :taste, :class => "ev_point_field", :id => "p_taste_point", :readonly => "readonly",:value => "0" %></td>
            </tr>
        </table>
        <table class="ev_table">
            <tr>
                <td class="ev_table_name" colspan="2">speed</td>
            </tr>
            <tr>
                <td><div id="speed_slide"></div></td>
                <td class="ev_table_point"><%= evaluation.text_field :speed, :class => "ev_point_field",:id => "p_speed_point", :readonly => "readonly",:value => "0" %></td>
            </tr>
        </table>
        <table class="ev_table">
            <tr>
                <td class="ev_table_name" colspan="2">amount</td>
            </tr>
            <tr>
                <td><div id="amount_slide"></div></td>
                <td class="ev_table_point"><%= evaluation.text_field :amount, :class => "ev_point_field",:id => "p_amount_point", :readonly => "readonly",:value => "0" %></td>
            </tr>
        </table>
        <table class="ev_table">
            <tr>
                <td class="ev_table_name" colspan="2">service</td>
            </tr>
            <tr>
                <td><div id="service_slide"></div></td>
                <td class="ev_table_point"><%= evaluation.text_field :service, :class => "ev_point_field",:id => "p_service_point", :readonly => "readonly",:value => "0" %></td>
            </tr>
        </table>

            
        <table class="ev_table">
            <tr>
                <td class="ev_table_name" colspan="2">review</td>
            </tr>
            <tr>
              <td class="ev_table_content">
                <%= evaluation.text_area :review %>
                <div id="countinfo">0/140</div>
              </td>
            </tr>
          </table>
        <%= submit_tag "submit!", :id=>"ev_submit" %>
    <% end %>
