<!DOCTYPE html>
<html>
  <head>
    <title>Bab</title>
    <%= yield :head %>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "jquery_need" %>
    <%= stylesheet_link_tag    "view_res" %>
    <%= stylesheet_link_tag    "evaluate" %>
    <%= javascript_include_tag "jquery-1.7.1.min.js" %>
    <%= javascript_include_tag "jquery-ui-1.8.17.custom.min.js" %>
    <%= javascript_include_tag "jquery.infinitescroll.js" %>
    <%= javascript_include_tag "jquery.tinyscrollbar.min.js" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ajax.js.erb" %>
    <%= csrf_meta_tags %>
    <% if flash[:notice] %>
      <script type="text/javascript">
        alert("<%= flash[:notice] %>");
      </script>
    <% end %>
  </head>
  <body>

    <div id="header">
      <div id="logobox">

      </div>

      <div id="searchbox">
        <form action ='#' name="searchform" onsubmit="searchRes();return false;">
          <input name="search" type="text" class="searchtext"/>
          <input type="submit" value="search" class="searchbtn" />
        </form>
      </div>

      <div id="userbox">
        <% if session[:user_id].nil? %>

        <div id="signin">
          <%= form_for(:user, :url => {:controller => "user" , :action => "login"}) do |f| %>
          <table>
            <tr>
              <td>Id</td>
              <td>Password</td>
              <td></td>
            </tr>
            <tr>
              <td><%= f.text_field :username, :class => "signintext" %></td>
              <td><%= f.password_field :password, :class => "signintext" %></td>
              <td><%= submit_tag("login" ,{:class=>"signinbtn"}) %></td>
            </tr>
            <tr>
              <td colspan="3"><input type="button" class="signupPop" value="아직 회원이 아니세요?"></td>
            </tr>
          </table>
          <% end %>

        </div>

        <% else %>
        <div id = "current_userbox">
          <%= @current_user.username %> 님 환영합니다.</br>
          <%= link_to "logout", :action => "logout", :controller => "user" %>
        </div>


        <% end %>

      </div>

    </div>
    <div id ="blackbox">
      <p>developed by devlee</p>
    </div>
    <div id ="content">

      <div id="left_content">
        <div id="panelbox">
          <ul class="panel_ul">
            <li class="panel_li"><a href="">Home</a></li>
            <li class="panel_li"><%= link_to_function("search", "searchRes()") %></li>
            <li class="panel_li"><%= link_to_function("select", "selectRes()") %></li>
          </ul>
        </div>
        <div id="left_item">
          <%= yield :left %>
        </div>
      </div>
      <div id="right_content">
        <p class="design">designed by devlee</p>
        <div id="right_item">
          <%= yield :right %>
        </div>
      </div>

    </div>

    <div id ="footer">
      <p>powered by devlee</p>

    </div>


    <div id="signupContact">
      <div id="signup">
        <div id="orangebox"> 
          Join Us! 
          <p id="popupContactClose">x</p>
        </div>
        <%= form_for(:user, :url => {:controller => "user", :action => "create" }) do |f| %>
        <table>
          <tr>
            <td>ID :</td>
            <td><%= f.text_field :username, :class => "signuptext" %></td>
          </tr>
          <tr>
            <td>mail :</td>
            <td><%= f.text_field :mailname, :class => "signuptext" %> @snu.ac.kr</td>
          </tr>
          <tr>
            <td>password :</td>
            <td><%= f.password_field :password, :class => "signuptext" %></td>
          </tr>
          <tr>
            <td>Re :</td>
            <td><%= f.password_field :password_confirmation, :class => "signuptext" %></td>
          </tr>
          <tr>
            <td colspan="2"><%= submit_tag("Join!", :class=> "signupbtn") %></td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
    <div id="backgroundPopup"></div>




  </body>
</html>
