<!DOCTYPE html>
<html>
  <head>
    <title>Babtong</title>
    <%= yield :head %>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "jquery_need" %>
    <%= stylesheet_link_tag    "view_res" %>
    <%= stylesheet_link_tag    "bab" %>
    <%= stylesheet_link_tag    "evaluate" %>
    <link href="/assets/favicon.ico" rel="shorcut icon" type="image/vnd.microsoft.icon"> 
    <%= javascript_include_tag "jquery-1.7.1.min.js" %>
    <%= javascript_include_tag "jquery-ui-1.8.17.custom.min.js" %>
    <%= javascript_include_tag "jquery.infinitescroll.js" %>
    <%= javascript_include_tag "jquery.tinyscrollbar.min.js" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ajax" %>
    <%= csrf_meta_tags %>
    <% if flash[:notice] %>
      <script type="text/javascript">
        $(function(){
        $('#dialog:ui-dialog').dialog("destroy");
        $('#dialog-message').dialog({
          modal : true,
          buttons : {
              Ok: function(){
                $(this).dialog("close");
          }
        }
        });
        });
      </script>
        <% end %>
  </head>
  <body>
    <div id="dialog-message" title="알림">
      <p> <%= flash[:notice] %> </p>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
    <div id="header">
      <div id="logobox">
        <%= link_to image_tag("logo.png",:border => "0", :size => "200x60"), "/" %>
      </div>
      <a href="#" onclick="selectRes(); return false;"><%= image_tag("select.png",:border => "0", :class => "sel_image") %></a>
      <div id="searchbox">
        <form action ='#' placeholder="검색" name="searchform" onsubmit="searchRes();return false;">
          <input name="search" type="text" class="searchtext" placeholder="검색"/>
          <input type="submit" value="search" class="searchbtn" />
        </form>
      </div>

      <div id="userbox">
        <% if session[:user_id].nil? %>

          <div id="signin">
            <%= form_for(:user, :url => {:controller => "user" , :action => "login"}) do |f| %>
              <table>
                <tr>
                  <td>Id</td>
                  <td>Password</td>
                  <td></td>
                </tr>
                <tr>
                  <td><%= f.text_field :username, :class => "signintext" %></td>
                  <td><%= f.password_field :password, :class => "signintext" %></td>
                  <td><%= submit_tag("login" ,{:class=>"signinbtn"}) %></td>
                </tr>
                <tr>
                  <td colspan="3"><input type="button" class="signupPop" value="아직 회원이 아니세요?"></td>
                </tr>
              </table>
            <% end %>

          </div>

        <% else %>
          <div id = "current_userbox">
            <%= @current_user.username %> 님 환영합니다.</br>
            <%= link_to "logout", :action => "logout", :controller => "user" %>
          </div>


        <% end %>

      </div>
      <div class="fb-like" data-href="http://www.facebook.com/pages/%EB%B0%A5%ED%86%B5/163827883731978" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
    </div>
    <div id ="blackbox">
    </div>
    <div id ="content">

      <div id="left_content">
              <div id="left_item">
        </div>
      </div>
      <div id="right_content">
        <span id="please">여러분의 활발한 평가 참여가 질 높은 서비스를 만듭니다.</span>
        <div id="right_item">
        </div>
      </div>

    </div>


    <div id ="footer">
      <div id ="deglee" class="clearfix">
        <%= link_to image_tag("facebook.png", :border => "0" ), "http://fb.com/co9901", :target => "_blank" %>
        <%= link_to image_tag("blog.png", :border => "0"), "http://deglee.tistory.com", :target => "_blank" %>

      </div>
      <p>
      | <%= link_to_function("개발자 괴롭히기", "contactPage()") %>
      | developed by <span>deglee</span> 
      | I <%= image_tag("heart.png", :size => "10x10") %> <a href="http://wafflestudio.com" target="_blank">wafflestudio</a>
      | 
      </p>
      개발자의 부족한 능력때문에 서비스가 원활하지 않을 수도 있습니다.

    </div>


    <div id="signupContact">
      <div id="signup">
        <div id="orangebox"> 
          Join Us! 
          <p id="popupContactClose">x</p>
        </div>
        <%= form_for(:user, :url => {:controller => "user", :action => "create" }) do |f| %>
          <%= hidden_field_tag :authorize_token, "token" %>
          <%= hidden_field_tag :authorized, "false" %>
          <%= hidden_field_tag :mailcheck, "false" %>
          <table>
            <tr>
              <td>ID :</td>
              <td><%= f.text_field :username, :class => "signuptext" %></td>
            </tr>
            <tr>
              <td>mail :</td>
              <td><%= f.text_field :mailname, :class => "signuptext" %> @snu.ac.kr</td>
            </tr>
            <tr>
              <td>password :</td>
              <td><%= f.password_field :password, :class => "signuptext" %></td>
            </tr>
            <tr>
              <td>Re :</td>
              <td><%= f.password_field :password_confirmation, :class => "signuptext" %></td>
            </tr>
            <tr>
              <td colspan="2"><%= submit_tag("Join!", :class=> "signupbtn") %></td>
            </tr>
          </table>
        <% end %>
      </div>
      <div id="signupinfo">
        회원가입을 위해서는 스누메일 인증과정을 거쳐야 합니다.
      </div>
    </div>
    <div id="backgroundPopup"></div>

    <div id="loading">
      <p>로딩중...</p>
      <%= image_tag("ajax-loader.gif", {:class => "ajax-loader"}) %>
    </div>


  </body>
</html>
